<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<div class="container showcase">
	<div id="main">
		<div class="span12">
			
				<% @products.each do |product| %>
				
					<%= new_row do  %>
						<div class="span3">
					        <div class="thumbnail">
						    <%= image_tag(product.image_url, :class => "image-tag") %>
					            <div class="caption">
								    <h5><%= product.title %></h5>
					                <%= link_to line_items_path(product_id: product), :class => "btn btn-primary", :remote => "true", method: :post do %>
								        Add to  
								        <%= content_tag :i, :class => "icon-shopping-cart icon-white" do %>
								        <% end %>
								    <% end %>
					                <span style='display:none' class="price1 label label-info price"><%= number_to_currency(product.price) %></span>
					                <span style='display:none' class="price2 label label-info price"><%= number_to_currency(product.price.exchange_to(:EUR)) %></span>
					                <span style='display:none' class="price3 label label-info price"><%= number_to_currency(product.price.exchange_to(:GBP)) %></span>
					            </div>
					        </div>
					    </div>
					<% end %>
				
				<!-- END_HIGHLIGHT -->
				<% end %>
			
		</div>
	</div>
</div>